.logo {
    text-align: right;
    margin-right: 20px;
    width: 200px;  
    float: left;
    background: url(/assets/images/logo.png) no-repeat;
    background-position: left;
    background-size: contain;
    color: white;
    .title{
      span{ 
        font-weight: bold;
      }
    }
  }