.customers{
    width: 50%;
    margin: 0 auto;
    height: calc(100vh - 100px);
    overflow: scroll;
    margin-top: 30px; 
}
.loadmore {
    text-align: center;
    margin: 12px;
    height: 32px;
    line-height: 32px;
  }