<div
  class="scroll-down op_0"
  style="opacity: 1"
  [ngClass]="{
    scroll_up: direction === 'up'
  }"
>
  <div class="scroll-down-text vTextLR">Scroll {{ direction }}</div>
  <div class="scroll-down-icon">
    <svg width="11px" height="36.189px" viewBox="0 0 11 36.189">
      <g>
        <line class="stroke-1" x1="5.5" y1="0" x2="5.5" y2="13.556"></line>
        <g>
          <line
            class="stroke-2"
            x1="5.5"
            y1="36.189"
            x2="5.5"
            y2="17.216"
          ></line>
        </g>
        <g>
          <polygon
            class="stroke-3"
            points="0,11.946 5.5,21.472 11,11.946"
          ></polygon>
        </g>
      </g>
    </svg>
  </div>
</div>
