<nz-list-item *ngIf="customer" data-test="customer-info">
    <nz-list-item-meta>
        <nz-list-item-meta-title>
            <span data-test="Fullname">{{ customer.Firstname }} {{customer.Lastname}}</span>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
            <p>
                Email: <strong data-test="Email">{{ customer.Email }}</strong>
            </p>
            <p>
                Date Of Birth: <strong data-test="DateOfBirth">{{ customer.DateOfBirth }}</strong>
            </p>
            <p>
                PhoneNumber: <strong data-test="PhoneNumber">{{ customer.PhoneNumber }}</strong>
            </p>
            <p>
                BankAccountNumber: <strong data-test="BankAccountNumber">{{ customer.BankAccountNumber }}</strong>
            </p>
        </nz-list-item-meta-description>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
        <nz-list-item-action>
            <a nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="ok" nzCancelText="cancel"
                (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
        </nz-list-item-action>
        <nz-list-item-action>
            <a routerLink="/Edit_Customer" [queryParams]="{email: customer.Email}">
                <i nz-icon nzType="edit"></i>
            </a>
        </nz-list-item-action>
    </ul>
</nz-list-item>