<!-- <div data-test="customer-info" *ngIf="customer">  
    <nz-card style="width: 300px;margin-top: 16px" data-test="Fullname" [nzTitle]="customer.Firstname + ' ' +customer.Lastname" [nzActions]="[actionEdit,actionDelete]">
        <p >Email : <strong data-test="Email">{{customer.Email}}</strong></p>
        <p >Date Of Birth : <strong data-test="DateOfBirth">{{customer.DateOfBirth}}</strong></p>
        <p >PhoneNumber <strong data-test="PhoneNumber">{{customer.PhoneNumber}}</strong></p>
        <p >Bank Account Number : <strong data-test="BankAccountNumber">{{customer.BankAccountNumber}}</strong></p>
    </nz-card>
</div>
<ng-template #actionSetting>
    <i nz-icon nzType="setting"></i>
</ng-template>
<ng-template #actionEdit>
    <i nz-icon nzType="edit"></i>
</ng-template>
<ng-template #actionEllipsis>
    <i nz-icon nzType="ellipsis"></i>
</ng-template>
<ng-template #actionDelete>
    <i nz-icon nzType="delete" nzTheme="outline"></i>
</ng-template> -->


<nz-list-item  *ngIf="customer" data-test="customer-info">
    <nz-list-item-meta>
        <nz-list-item-meta-title >
            <span data-test="Fullname">{{ customer.Firstname }} {{customer.Lastname}}</span>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
            <p>
                Email: <strong data-test="Email">{{ customer.Email }}</strong>
            </p>
            <p>
                Date Of Birth: <strong data-test="DateOfBirth">{{ customer.DateOfBirth }}</strong>
            </p>
            <p>
                PhoneNumber: <strong data-test="PhoneNumber">{{ customer.PhoneNumber }}</strong>
            </p>
            <p>
                BankAccountNumber: <strong data-test="BankAccountNumber">{{ customer.BankAccountNumber }}</strong>
            </p>
        </nz-list-item-meta-description>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
        <nz-list-item-action>
            <i nz-icon nzType="delete" nzTheme="outline"></i>
        </nz-list-item-action>
        <nz-list-item-action>
            <i nz-icon nzType="edit"></i>
        </nz-list-item-action> 
    </ul> 
</nz-list-item>